header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 100px;
  background: #121212;

  .wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    height: 100%;
    align-items: center;
  }
  .header {
    color: #ffffff;
  }
  .logo {
    display: block;
    width: 200px;
  }
  img {
    display: block;
    width: 100%;
    margin: 10px;
  }
}
